html {
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
}

h2 {
  margin-bottom: 1.3rem !important;
}

#nav {
  position: sticky;
  top: 0;
  margin-bottom: 0;
}

#perfil {
  background-color: #1abc9c;
}

.content-perfil {
  padding: 1rem;
  color: white;
  font-weight: bold;
}

.item {
  padding: 0.8rem;
}

#skills {
  padding-bottom: 1.5rem;
  background-color: #118a9732;
}

#about {
  background-color: #1abc9c;
  color: white;
}

#contact {
  background-color: #118a97;
}

.shadow {
  box-shadow: 0px 2px 12px 0px rgb(255, 255, 255);
}
.social-content {
  width: 40px;
  height: auto;
  padding: 0.3rem;
  position: fixed;
  background-color: #1abc9c;
  bottom: 0;
  right: 0px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.social-icons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.star {
  display: flex;
  justify-content: center;
  padding: 0.3rem;

  & svg {
    width: 25px;
  }
}

.card {
  margin-bottom: 1rem;
  padding: 1rem;
  background: #5555551c;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  transition: background ease-in-out 0.2s, box-shadow ease-in-out 0.2s;

  & img {
    border-radius: 0.8rem;
  }
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #183552f7;
}
.p-05 {
  padding: 0.5rem;
}

#footer {
  background-color: rgba(22, 22, 22, 0.918);
  padding: 0.8rem;
  color: white;
}

.bg-custom {
  background-color: #2c3e50;
  color: white;
}

.bg-custom a {
  color: white;
  font-size: 16px;
  border-radius: 0.5rem;
  transition: color ease-in-out 0.2s;
}

.bg-custom .active a {
  background-color: #1abc9c;
}
 
.bg-custom .navbar-toggle{
  border-color: #1abc9c;
  & .icon-bar {
    background-color: #888;
}
}

@media screen and (max-width: 750px) {
  .card img {
    max-width: 50% !important;
  }
}
@media (hover: hover) {
  .card:hover {
    background: rgba(110, 110, 110, 0.377);
    box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.42);
  }
  .bg-custom a:hover {
    background-color: #1abc9c !important;
  }
}
